
// RESTAURANT CARDS

.card {
    height: 200px;
    width: 100%;
    border-radius: 20px;
    background: $bg-color-alt;
    @include shadow-default;
    margin: 15px auto;
    position: relative;
    transition: ease-in-out 2s;
    cursor: pointer;
    > a {
        display: block;
        width: auto;
        height: auto;
    }
    &__img {
        object-fit: cover;
        height: 148px;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    @include tablet {
        width: 42%;
        margin: 1rem;
    }
    @include desktop {
        width: 35%;
        margin: 2rem;
    }
}

.card-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
        > a {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            > p {
                font-weight: bold;
                align-self: center;
            }
        }
        &__text {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            line-height: 1.2rem;
        }
        &__fav {
            transition: ease-in-out 500ms;
            position: relative;
            > i {
                &.fa-heart {
                opacity: 1;
                z-index: 1;
                font-size: 1.25rem;
                transition: ease-in-out 500ms;
                cursor: pointer;
                }
            }
            &::after {
                content: '\f004';
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                position: absolute;
                font-size: 1.25rem;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0;
                z-index: 0;
                cursor: pointer;
                @include gradient-default;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: 
                    transform cubic-bezier(.50,.30,0.70,1.5) 500ms,
                    opacity ease-out 200ms;
                transform: scale(0);
            }  
            &:hover {
                > i.fa-heart {
                    opacity: 0;
                }
                &::after {
                    opacity: 1;
                    transform: scale(1);
                    transform-origin: bottom;
                }
            }
            &.heading {
                > i {
                font-size: 1.5rem;
                }
                &::after {
                    font-size: 1.5rem;
                }
            }
        }
    }

.card-label {
    position: absolute;
    top: 1rem; right: 1rem;
    padding: 0.5rem;
    background-color: map-get($palette-card, label);
        &__text {
            color: lightness-shift($tertiary);
            font-weight: bold;
            text-align: center;
        }
}

// LIST CARDS

.list-fonct {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.list-fonct-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    background-color: lighten($bg-color-dark,82%);
    padding: 1rem;
    transition: ease-in-out 350ms;
    border-radius: 1rem;
    border: none;
    width: 92%;
    margin-left: 5px;
    @include shadow-default;
    font-weight: 400;
    @include tablet {
        width: 50%;
    }
    @include desktop {
        width: 30%;
    }
    > div {
        background-color: $primary;
        border-radius: 100%;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: -2rem;
        color: $text-alt;
        display: flex;
        justify-content: center;
        align-items: center;
        > p {
            font-size: 0.8rem;
            font-weight: 400;
        }
    }
    > i {
        color: grey;
    }
    &:hover {
        background-color: lighten($primary, 30%);
        cursor: pointer;
        > i {
            color : $primary;
        }
    }
}


// MENU CARDS

.menu--items {
    @include tablet {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 1rem;
    }
    @include desktop {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 1rem;
    }
}

.card--menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    background: $bg-color-alt;
    @include shadow-default;
    margin: 10px auto;
    animation: progressive-translate ease-in-out 1s both;
    &:hover {
        & .toggle {
            margin-right: 0px;
            transform-origin: right;
            cursor: pointer;
         > .add-to-cart > i {
            transform: rotate(1turn);
            cursor: pointer;
            }
        }
    }
    &:nth-child(1) {
        animation-delay: 3s+0ms;
    }
    &:nth-child(2) {
        animation-delay: 3s+150ms;
    }
    &:nth-child(3) {
        animation-delay: 3s+300ms;
    }
    &:nth-child(4) {
        animation-delay: 3s+450ms;
    }
    &:nth-child(5) {
        animation-delay: 3s+450ms;
    }
    @include tablet {
        margin: 10px;
    }
}

.card-description--menu {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    line-height: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    > h2, p {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.toggle {
    display: flex;
    flex: 0 0 auto;
    margin-right: -80px;
    transition: all 0.8s ease-in-out;
    > p {
        font-weight: bold;
        padding: 0.75rem 1rem 0.75rem 0;
        align-self: end;
    }
}

.add-to-cart {
    display: grid;
    place-items: center;
    width: 80px;
    height: auto;
    background-color: $tertiary;
    > i {
        color: white;
        font-size: 1.3rem;
        transition : all 0.6s 0.2s ease-in-out;
    }
}