

.header {
    padding: 1rem;
    text-align: center;
    margin-bottom: 2px;
    @include shadow-header;
    &__logo {
        width: 10rem;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: map-get($palette-bg, bg-dark);
    color: $text-alt;
    padding: 1rem;
    > img {
        width: 6rem;
        filter:invert(100%);
        padding: 0.5rem 0 1.5rem 0;
    }
    > * {
        padding-bottom: 0.5rem;
    }
    & i {
        font-size: 1rem;
    }
    &__item {
        display: flex;
        flex-flow: wrap;
        & p {
            padding-left: 0.5rem;
        }
    }
}