
.section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem 2.5rem 1rem;
    background-color: lightness-shift($bg-color-dark);
    &--bg-alt {
        background-color: map-get($palette-bg, bg-alt);
        row-gap: 1rem;
    }
    &--bg-dark {
        background-color: map-get($palette-bg, bg-alt);
    }
    &__container {
        &--loc {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 1rem;
            background: darken($bg-color-default,  7%);
        }
        &--fonct {
            display: flex;
            flex-flow: column wrap;
            align-content: center;
            width: 95%;
            @include tablet-desktop {
                flex-flow: row wrap;
                justify-content: center;
                gap: 1.5rem;
                & h1 {
                    width: 100%;
                }
            }
        }
        &--col {
            display: flex;
            flex-flow: column;
            width: 95%;
            @include tablet-desktop {
                flex-flow: row wrap;
                justify-content: center;
                & h1 {
                    width: 100%;
                }
            }
        }
    }
    &--menu {
        border-radius: 2.5rem 2.5rem 0 0;
        margin-top: -2.5rem;
        position: relative;
    }
}

