// MEDIA QUERIES

@mixin mobile {
    @media screen and (max-width: (map-get($breakpoints, mobile))) {
        @content;
    }
}
    
    @mixin tablet {
    @media screen and (min-width: (map-get($breakpoints, tablet-min))) and (max-width: (map-get($breakpoints, tablet-max))) {
        @content;
    }
}

@mixin tablet-desktop {
    @media screen and (min-width: (map-get($breakpoints, tablet-min))) {
        @content;
    }
}
    
    @mixin desktop {
    @media screen and (min-width: (map-get($breakpoints, desktop-min))) {
        @content;
    }
}

//GRADIENTS

@mixin gradient-default {
    background: linear-gradient(358deg, $primary, $secondary);
}

@mixin gradient-hover {
    background: linear-gradient(358deg, lighten($primary, 5%), lighten($secondary, 5%));
}

//SHADOWS

@mixin shadow-default {
    box-shadow: 1px 2px 10px rgb(180, 180, 180);
}

@mixin shadow-header {
    box-shadow: 0px 3px 6px rgb(180, 180, 180);
}

// PADDING

@mixin card-padding {
    padding: 5px 10px 5px 5px;
}

@mixin section-padding {
    padding: 20px 10px;
}

// MARGIN

@mixin card-item-margin {
    margin: 0 10px;
}
