
.btn {
    &--default {
    @include gradient-default;
    height: 3rem;
    min-width: 10rem;
    border-radius: 2rem;
    padding: 1rem;
    border: none;
    color: $text-alt;
    margin: 1.5rem auto;
    transition: ease-in-out 200ms;
    &:hover {
        @include shadow-default;
        filter: brightness(107%);
        }
    }
    &--order {
        margin: 0 auto 2rem auto;
    }
}